@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.component-header {
  background-color: #91A8D0;
  color: #ffffff;
}

.component-layout {
  background-color:#ffffff;
}

.tags-container {
  padding: 10px 0;
}